.Work{
    position: relative;
}
.Work__bg{
    transform:translateY(-100%);
    position: absolute;
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8 , 1fr);
}
.Work__cell {
    position: relative;
    overflow: hidden;
}
.Work__cell-inner {
    position: absolute;
    inset: -1px 0;

    height: calc(100% + 2px);
    width: 100%;

    background: var(--accent-0);
    clip-path: inset(50% 0 50% 0);
}
.Work__wrapper{
    height: 100svh;
    background-color: var(--accent-0);
}