.Work {
    position: relative;
    perspective: 2500px;
    padding: 6rem 1rem;
}

.Work__source {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.Work__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9.2rem;
    transform-style: preserve-3d;
}

.Work__cell {
    padding: var(--indent) calc(var(--indent) * 2);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    transform-style: preserve-3d;
    transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
}
.Work__cell img{background-color: #888;}

.Work__cell div {
    display: flex;
    justify-content: space-between;
}

.Work__cell span {
    color: var(--base-0);
}

.Work__intro {
    max-width: 360px;
    text-align: center;
    margin: 0 auto 9.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.Work__intro h2 {
    font-family: var(--font-main);
    color: var(--base-0);
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 90%;
}

.Work__intro p {
    color: var(--base-100);
}
@media (max-width: 1600px) {
    .Work__wrapper {gap: 3.5rem;}
}
@media (max-width: 1200px) {
    .Work {
        padding: 3rem 1rem;
    }

    .Work__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .Work__intro {
        margin: 0 auto 6.5rem;
    }
    .Work__cell:nth-child(13),
    .Work__cell:nth-child(15){display: none;}
}

@media (max-width: 800px) {
    .Work__wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .Work__intro {
        margin: 0 auto 3.5rem;
    }

    .Work__cell {
        padding: var(--indent);
    }

}