.webgl-wrapper {
    position: absolute;
    width: 100%;
    height: 400svh;
    pointer-events: none;
}

.webgl {
    position: sticky;
    top:0;
    inset: 0;
    width: 100%;
    height: 100svh;
    z-index: 0;
    pointer-events: none;
}
.Hero__title{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    font-size:1rem;
    background-color: var(--base-150);
    padding:4px 8px;
    font-weight:400;
    clip-path: inset(100% 0% 0% 0%);
}
@media (max-width: 800px) {
    .webgl-wrapper{position: relative;height: 100svh;}
    .Hero__title{display: block;}

}