@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/200.woff2") format("woff2");
  font-weight: 200;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/400.woff2") format("woff2");
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}
@font-face {
    font-family: "BT";
    src: url("/fonts/BTGrotesk/BTGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BT";
    src: url("/fonts/BTGrotesk/BTGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}