.PcScene {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #fff4d2;
}

.PcScene__canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: translateY(-35vh);
}
.PcScene p{
    position: absolute;
    top: 50%;
    max-width:300px;
    left: 5rem;
    transform: translateY(-50%);
    color: #fff;
    mix-blend-mode: difference;
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 800px) {
    .PcScene p{left: var(--indent);}
    .PcScene__canvas {
        pointer-events: none;
        touch-action: pan-y;
    }
    .PcScene__canvas {transform: translateY(0vh)}
}
